<header>
    <h2>Kontakt</h2>
</header>
<p>Kontaktovat mě lze telefonicky na <a href="tel:+420 733 348 366">+420 733 348 366</a>, e-mailem: <a href="mailto:jakubenglicky@gmail.com">jakubenglicky@gmail.com</a></p>
