<header>
    <h1>Jakub Englický</h1>
    <p>WEB DEVELOPER</p>
</header>
<a href="#o-mne" class="jumplink pic">
    <span class="arrow icon fa-chevron-right"><span>Moje reference</span></span>
    <img src="images/me.jpg" alt="" />
</a>