<!DOCTYPE HTML>
<!--
	Astral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Jakub Englický - DevOps Consultant</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper-->
<div id="wrapper">

    <!-- Nav -->
    <nav id="nav">
        <a href="#" class="icon fa-home"><span>Home</span></a>
        <a href="#o-mne" class="icon fa-info"><span>O mně</span></a>
        {* <a href="#projekty" class="icon fa-folder"><span>Projekty</span></a> *}
        {* <a href="#blog" class="icon fa-newspaper-o"><span>Blog</span></a> *}
        <a href="https://github.com/jakubenglicky" target="_blank" class="icon fa-github"><span>Github</span></a>
        <a href="https://www.linkedin.com/in/jakub-englicky/" target="_blank" class="icon fa-linkedin-square"><span>LinkedIn</span></a>

    </nav>
    <!-- Main -->
    <div id="main">

        {include content}

    </div>

    <!-- Footer -->
    <div id="footer">
        <ul class="copyright">
            <li>&copy; 2016 - {php echo date('Y');}</li><li>Jakub Englický</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>