---
layout: "_layouts/default.latte"
---

{block content}
    <!-- Me -->
    <article id="home" class="panel intro">
        {include "_snippets/home.latte"}
    </article>

    <article id="o-mne" class="panel">
        {include "_snippets/about.latte"}
    </article>

    <article id="projekty" class="panel">
        {include "_snippets/work.latte"}
    </article>

    <article id="blog" class="panel">
        {include "_snippets/blog.latte"}
    </article>
{/block}